Repository jalezi/nextjs-demo: changes, and which lefthook commands are due for each by the changed paths.
All: lint, type-check, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,jsx,ts,tsx,json,css,md}"
      run: pnpm lint
      stage_fixed: true

    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm type-check

    format:
      glob: "*.{js,jsx,ts,tsx,json,css,md}"
      run: pnpm format
      stage_fixed: true

pre-push:
  commands:
    build:
      run: pnpm build

chore(deps): ⬆️ update Next.js to 16.0.0
  package.json
  pnpm-lock.yaml
Due: lint, format

fix(components): 🐛 read Next.js version dynamically from package.json
  src/app/components/nextjs-info.tsx
Due: lint, type-check, format

build: 📦 enhance Next.js 16 configuration
  next.config.ts
  tsconfig.json
Due: lint, type-check, format

feat(api): ✨ add contact API route with Next.js 16 'after' API
  src/app/api/contact-with-after/route.ts
Due: lint, type-check, format

feat(api-routes): ✨ add comprehensive API routes demo page
  src/app/api-routes/components/contact-with-after-form.tsx
  src/app/api-routes/loading.tsx
  src/app/api-routes/page.tsx
Due: lint, type-check, format

feat(navigation): ✨ add API Routes to navigation menu
  src/app/components/header.tsx
Due: lint, type-check, format

feat(build): ✨ complete Next.js 16 upgrade compatibility
  package.json
  src/app/parallel/@analytics/default.tsx
  src/app/parallel/@team/default.tsx
Due: lint, type-check, format

chore(docs): 🗂️ remove outdated setup and type safety documentation
  docs/SETUP_GUIDE.md
  docs/TYPE_SAFETY_IMPROVEMENTS.md
  docs/UPDATE_SUMMARY.md
Due: lint, format

feat(docs): ✨ update improvement tasks documentation for Next.js 16 enhancements
  docs/tasks/IMPROVEMENT_TASKS.md
Due: lint, format

docs: 📝 update documentation for Next.js 16 and new features
  .github/copilot-instructions.md
  README.md
  docs/QUICK_REFERENCE.md
Due: lint, format

feat(tooling): ✨ implement all Biome recipes for enhanced code quality
  .github/workflows/quality.yml
  README.md
  biome.json
  lefthook.yml
  package.json
  renovate.json
Due: lint, format

ci: 🐛 fix type-check by running build before type checking
  .github/workflows/quality.yml
Due: none

chore(docs): 🗂️ reorganize documentation structure for clarity
  README.md
Due: lint, format

docs: 📝 enhance project documentation with additional sections on performance monitoring and API routes
  .github/copilot-instructions.md
Due: lint, format

feat(ui): ✨ add footer with GitHub link and MIT license
  LICENSE
  README.md
  package.json
  src/app/components/footer.tsx
  src/app/layout.tsx
Due: lint, type-check, format

Set npm as the package ecosystem for Dependabot
  .github/dependabot.yml
Due: none

docs: 📝 reorganize README badges for improved clarity and structure
  README.md
Due: lint, format
